{
  "marketplaceApi": "${MARKETPLACE_API}",
  "authClientId": "${AUTH_CLIENT_ID}",
  "authDomain": "${AUTH_DOMAIN}",
  "authAudience": "${AUTH_AUDIENCE}",
  "reportUrl": "${REPORT_URL}",
  "reearthApi": "${REEARTH_API}",
  "reearthWeb": "${REEARTH_WEB}"
}

