@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

nav,
h1,
p {
  padding: 0;
  margin: 0;
}

.homepage-tabs {
  .ant-tabs-ink-bar {
    height: 5px;
    color: #ffffff;
  }
  
  .ant-tabs .ant-tabs-tab {
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px !important;
    line-height: 22px;
    font-weight: 500;
  }
  
  .ant-tabs .ant-tabs-ink-bar {
    background: #ffffff !important;
  }
  
  .ant-tabs-tab:hover {
    color: #ffffff !important;
  }
  
  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #ffffff !important;
  }
  
  .ant-tabs-nav::before {
    border-bottom: none !important;
  }
  
  .ant-tabs-nav {
    margin-bottom: 2px !important;
  }
}
